
.footer-style {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    background-color: #156064;
    text-align: center;
    height: 75px;
  }

.fa {
    padding: 5px;
    width: 250px;
    height: 25px;
    text-align: center;
    text-decoration: none;
}

.fa.github {
       /* background: #3B5998; */
       color: rgb(66, 14, 185);
}
.fa.linkedin {
    /* background: #3B5998; */
    color: #156064;
}
.fa-facebook {
    /* background: #3B5998; */
    color: white;
}
  
.fa-twitter {
    /* background: #55ACEE; */
    color: white;
}
/* .fa-youtube {
    /* background: #55ACEE; */
    /* color: white; */
/* } */ 

/* .fa-instagram {
    background: #125688;
    color: white;
} */
